@{
  Layout = "_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Engineer>;

<h1>Engineers</h1>
<hr />
<ul>
  @foreach(Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
  }
</ul>
<p> @Html.ActionLink("Add Engineer", "Create", new {}, new { @class = "btn btn-outline-primary" })</p>

