@{
  Layout = "_Layout";
}

<h1>Welcome to the Engineers Office!</h1>

@Html.ActionLink("Engineers", "Index", "Engineers", new {}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Machines", "Index", "Machines", new {}, new { @class = "btn btn-outline-primary" })